* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-image: url('assets/background-batik-Recovered.png');

}

/* ---------------------------------------------------------------
NAVBAR
--------------------------------------------------------------- */
nav {
  z-index: 100;
  transition: background-color 0.3s;

}

nav.scrolled {
  background-color: #ffffff;

}

.swiper {
  height: 500px;
}

.navbar a{
  transition: all .50s ease;
}

.navbar a:hover, a.active{
  color: rgb(120, 53, 15);

}

.navbar span:active{
  color: #333;
}

.hover-underline-animation {
  position: relative;
  color: #000000;
  text-decoration: none;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(120, 53, 15);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* section:nth-child(odd) {
background: #323946;
} */




/* ---------------------------------------------------------------
MARQUEE
--------------------------------------------------------------- */

@keyframes glide {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}

.images {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.images:before,
.images:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.images:before {
  left: 0;
}

.images:after {
  right: 0
}

.images:hover .images-glide {
  animation-play-state: paused;
}

.images-glide {
  height: 100px;
  display: inline-block;
  animation: 75s glide infinite linear;
}

.images-glide img {
  height: 15em;
  margin: 0 40px;
  border-radius: 10px;
}

@media (max-width: 920px){
  .images-glide img{
    height: 11em;
    margin: 0 20px;
  }
}





/* ---------------------------------------------------------------
ANIMATED MEGA MENDUNG
--------------------------------------------------------------- */
.animate {
  /* animation: img 5s infinite;
    animation-timing-function: linear;
    animation-name: img; */
  animation-name: img;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes img {
  0% {
    position: relative;
    top: 50px;
  }

  25% {
    position: relative;
    top: 20px;
  }

  50% {
    position: relative;
    top: 10px;
  }

  100% {
    position: relative;
    top: 50px;
  }
}

/* ---------------------------------------------------------------
SLIDER 
---------------------------------------------------------------- */
.slider {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide:first-child {
  opacity: 1;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 10px;
}

swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

swiper-slide img {
  display: block;
  width: 100%;
}

/* ---------------------------------------------------------------
CARD
--------------------------------------------------------------- */
.p{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.kotak {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
}

.kotak .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 300px;
  background: #fff;
  border-radius: 20px;
  transition: 0.5s;
 
}

.kotak .card:hover {
  height: 400px;
}

.kotak .card .imgBx{
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background:#333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.kotak .card:hover .imgBx{
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0, 0.2);
}
.kotak .card .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.kotak .card .content{
  position: absolute;
  top: 252px;
  width: 100%;
  padding: 0 30px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}

.kotak .card:hover .content{
  top: 130px;
  height: 250px;
}

.kotak .card .content h2{
  font-size: 20px;
  font-weight: 600;
}

/* ---------------------------------------------------------------
slider penggunaan batik
--------------------------------------------------------------- */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/* ---------------------------------------------------------------
CERITA
--------------------------------------------------------------- */
.cerita{
  /* padding-top: 10px; */
  background-color: #d1b29328;
}

.timeline {
  margin: 0 auto;
  max-width: 750px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  font-family: "Fira Sans", sans-serif;
  color: #000000;
}

.timeline__component {
  margin: 0 20px 20px 20px;
}

.timeline__component--bg {
  padding: 1.5em;
  background: rgba(133, 99, 35, 0.583);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}


.timeline__component--bottom {
  margin-bottom: 0;
}

.timeline__middle {
  position: relative;
  background: #000000;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #524122;
  border-radius: 50%;
}


.timeline__point--bottom {
  top: initial;
  bottom: 0;
}

.timeline__date--right {
  text-align: right;
}

.timeline__title {
  margin: 0;
  font-size: 1.15em;
  font-weight: bold;
}

.timeline__paragraph {
  line-height: 1.5;
}
